[submodule "ainstein-mobile"]
	path = ainstein-mobile
	url = https://github.com/ValentinoTriadi/ainstein-mobile.git
[submodule "ainstein-ai"]
	path = ainstein-ai
	url = https://github.com/ValentinoTriadi/ainstein-ai.git
[submodule "ainstein-backend"]
	path = ainstein-backend
	url = https://github.com/ValentinoTriadi/ainstein-backend.git
